body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: lavender;
    font-family: 'Lato', sans-serif;
    align-items: center;
    margin-top: 3%;
}



/*Style a class*/
.card{
    width: 80%;
    padding: 5%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-self: center;


}

.footer{
    display: flex;
    width: 80%;
    flex-direction: row;
    padding: 2%;
    margin-bottom: -2%;




}

.right{
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.left{
    width: 50%;
    background-color: lavender;
    padding: 3%;
}

img{
    width: 70%;
    justify-content: center;
}

.btn-container{
    padding-top: 5%;
}
/*Style a id*/
.btn{
    border: 1px solid;
    padding: 20px;
    color: green;
}

a{
    display: inline-block;
    width: 30%;
    text-decoration: none;
    text-align: center;
    width: 40%;
}

.botton-btn{
    padding-top: 2%;
}

.fa{
    padding: 10px;
    font-size: 30px;
    width: 5px;
    text-decoration: none;
    color: black;
}
